<?xml version="1.0" encoding="utf-8"?>
<!--MikuMikuMobエフェクト設定ファイル-->
<MMMobEffectConfig>
  <Version>1.1</Version>
  <EffectName>ikBokeh</EffectName>
  <EffectNote />
  <EffectOutFolder>ikBokeh</EffectOutFolder>
  <EffectPlatform>MikuMikuEffect</EffectPlatform>
  <RenderTarget>
    <RTName>LinearDepthMapRT</RTName>
    <FileHeadStr>depth_</FileHeadStr>
    <CloneMob>
      <FxFileName>depth.fx</FxFileName>
      <FlagEdge>0</FlagEdge>
      <FlagShadow>0</FlagShadow>
      <FlagZPlot>0</FlagZPlot>
    </CloneMob>
    <BillboardMob>
      <FxFileName />
      <FlagEdge>0</FlagEdge>
      <FlagShadow>0</FlagShadow>
      <FlagZPlot>0</FlagZPlot>
      <FlagLight>0</FlagLight>
      <FlagRT>1</FlagRT>
      <TexFormat>R16F</TexFormat>
    </BillboardMob>
  </RenderTarget>
</MMMobEffectConfig>