<?xml version="1.0" encoding="utf-8"?>
<!--MikuMikuMobエフェクト設定ファイル-->
<MMMobEffectConfig>
  <Version>1.1</Version>
  <EffectName>ikPolish</EffectName>
  <EffectNote />
  <EffectOutFolder>ikPolish</EffectOutFolder>
  <EffectPlatform>MikuMikuEffect</EffectPlatform>
  <RenderTarget>
    <RTName>Main</RTName>
    <FileHeadStr />
    <CloneMob>
      <FxFileName>PolishMain.fx</FxFileName>
      <FlagEdge>0</FlagEdge>
      <FlagShadow>0</FlagShadow>
      <FlagZPlot>0</FlagZPlot>
    </CloneMob>
    <BillboardMob>
      <FxFileName />
      <FlagEdge>0</FlagEdge>
      <FlagShadow>0</FlagShadow>
      <FlagZPlot>0</FlagZPlot>
      <FlagLight>0</FlagLight>
      <FlagRT>1</FlagRT>
      <TexFormat>D3DFMT_A8R8G8B8</TexFormat>
    </BillboardMob>
  </RenderTarget>
  <RenderTarget>
    <RTName>ColorMapRT</RTName>
    <FileHeadStr>mat_</FileHeadStr>
    <CloneMob>
      <FxFileName>PolishMaterial.fx</FxFileName>
      <FlagEdge>0</FlagEdge>
      <FlagShadow>0</FlagShadow>
      <FlagZPlot>0</FlagZPlot>
    </CloneMob>
    <BillboardMob>
      <FxFileName />
      <FlagEdge>0</FlagEdge>
      <FlagShadow>0</FlagShadow>
      <FlagZPlot>0</FlagZPlot>
      <FlagLight>0</FlagLight>
      <FlagRT>1</FlagRT>
      <TexFormat>D3DFMT_A8R8G8B8</TexFormat>
    </BillboardMob>
  </RenderTarget>
  <RenderTarget>
    <RTName>SSAOMapRT</RTName>
    <FileHeadStr>ssao_</FileHeadStr>
    <CloneMob>
      <FxFileName>PolishSSAO.fx</FxFileName>
      <FlagEdge>0</FlagEdge>
      <FlagShadow>0</FlagShadow>
      <FlagZPlot>0</FlagZPlot>
    </CloneMob>
    <BillboardMob>
      <FxFileName />
      <FlagEdge>0</FlagEdge>
      <FlagShadow>0</FlagShadow>
      <FlagZPlot>0</FlagZPlot>
      <FlagLight>0</FlagLight>
      <FlagRT>1</FlagRT>
      <TexFormat>D3DFMT_R16F</TexFormat>
    </BillboardMob>
  </RenderTarget>
  <RenderTarget>
    <RTName>LightDepthRT</RTName>
    <FileHeadStr>shadow_</FileHeadStr>
    <CloneMob>
      <FxFileName>PolishShadow.fx</FxFileName>
      <FlagEdge>0</FlagEdge>
      <FlagShadow>0</FlagShadow>
      <FlagZPlot>0</FlagZPlot>
    </CloneMob>
    <BillboardMob>
      <FxFileName />
      <FlagEdge>0</FlagEdge>
      <FlagShadow>0</FlagShadow>
      <FlagZPlot>0</FlagZPlot>
      <FlagLight>0</FlagLight>
      <FlagRT>1</FlagRT>
      <TexFormat>D3DFMT_R32F</TexFormat>
    </BillboardMob>
  </RenderTarget>
  <FileCopy>
    <FileName>autoluminous.fxsub</FileName>
    <Apply>0</Apply>
  </FileCopy>
  <FileCopy>
    <FileName>colorutil.fxsub</FileName>
    <Apply>0</Apply>
  </FileCopy>
  <FileCopy>
    <FileName>constants.fxsub</FileName>
    <Apply>0</Apply>
  </FileCopy>
  <FileCopy>
    <FileName>ikPolishShader.fxsub</FileName>
    <Apply>0</Apply>
  </FileCopy>
  <FileCopy>
    <FileName>lighting.fxsub</FileName>
    <Apply>0</Apply>
  </FileCopy>
  <FileCopy>
    <FileName>Material_header.fxsub</FileName>
    <Apply>0</Apply>
  </FileCopy>
  <FileCopy>
    <FileName>mmdutil.fxsub</FileName>
    <Apply>0</Apply>
  </FileCopy>
  <FileCopy>
    <FileName>shadow_common.fxsub</FileName>
    <Apply>0</Apply>
  </FileCopy>
  <FileCopy>
    <FileName>structs.fxsub</FileName>
    <Apply>0</Apply>
  </FileCopy>
</MMMobEffectConfig>